<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KhanhBlog</title>
</head>
<body>
<div>
            <h1><a href="/">Khanh Blog</a></h1>
        </div>

        <div>
            <p>published: 3/8/2019, 11:38Pm</p>
            <h2><a href="">My first post</a></h2>
            <p>adfasdfadf</p>
        </div>

        <div>
            <p>published: 3/8/2019, 11:38Pm</p>
            <h2><a href="">My second post</a></h2>
            <p> asdfasdf</p>
        </div>
</body>
</html>